{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <div class="row">
        <div class="indexPage-left">

        </div>

        <div class="indexPage-middle">

            <div class="box">
                {% if user.is_authenticated %}
                    <form action="{% url 'index' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <h4> New Post </h4>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Create a new post here" name="content" required></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit"> Post </button>
                        </div>
                    </form>
                {% else %}
                    <div class="form-group">
                        <h4> New Post </h4>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="LOGIN TO CREATE A POST" name="content" disabled></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit" disabled> Post </button>
                    </div>
                {% endif %}
            </div>
        
        
            {% if user.is_authenticated %}
                {% for post in posts %}
                <!-- DONT CHANGE THE "ID" OF ANY ELEMENT OR THE APP WILL BREAK, (REF: JS FILE) -->
                    <div class="box" id="box{{post.id}}">
                        <div class="post" id="post{{post.id}}">
                            <div class="row">
                                <!--Pass the post id-->
                                <input class="post-id" id="post-id{{post.id}}" type="hidden" value="{{post.id}}">
                                
                                <div class="posts-left">
                                    <img src="{% static 'network/profilePic.png' %}" alt="Profile Picture" class="profilePicSmall">
                                </div>
        
                                <div class="posts-right">
                
                                    <div class="poster" id="poster{{post.id}}" style="display: inline;">
                                        <a href="{% url 'profile' post.poster %}">
                                            <strong>{{post.poster}}</strong>
                                        </a>
                                    </div>
                            
                                    <div class="timestamp" id="timestamp{{post.id}}" style="display: inline;">
                                        {{post.timestamp}} <br>
                                    </div>
                                    
                                    {% if user == post.poster %}
                                        <button class="edit-btn" id="edit-btn{{post.id}}" > Edit </button>
                                    {% endif %}
                                    
                                    <div class="content" id="content{{post.id}}" style="white-space: pre-line">
                                        {{post.content}} <br>
                                    </div>
                                    <div class="likes" id="likes{{post.id}}" style="display: inline;">
                                        {% if post in likedPosts %}
                                            <img src="{% static 'network/likeRed.png' %}" alt="likeBtn" height="20" width="auto" class="like-btn" id="like-btn{{post.id}}" style="display: inline;">
                                        {% else %}
                                            <img src="{% static 'network/like.png' %}" alt="likeBtn" height="20" width="auto" class="like-btn" id="like-btn{{post.id}}" style="display: inline;">
                                        {% endif %}
                                        
                                        <div class="noOfLikes" id="noOfLikes{{post.id}}" style="display: inline;">
                                            {{post.likes}}
                                        </div>
                                    </div>
        
                                </div>
                                
                            </div>
                        </div>
                        
                        <div class="editPost" id="editPost{{post.id}}" style="display: none;">
        
                            <form id="edit-form" onsubmit="return false;">
                                {% csrf_token %}
                                <div class="form-group">
                                    <h6> Edit Post </h6>
                                </div>
        
                                <!-- Pass the post id -->
                                <input class="edit-id" type="hidden" value="{{post.id}}">
        
                                <div class="form-group">
                                    <textarea class="edit-content form-control" id="edit-content{{post.id}}" name="content" style="white-space: pre-wrap;">{{post.content}}</textarea>
                                </div>
                                <div class="form-group">
                                    <input class="edit-form-submit btn btn-primary" id="edit-form-submit{{post.id}}"  type="submit" value="Update"/> 
                                </div>
                            </form>
        
                        </div>
        
        
                    </div>
                {% endfor %}
                
        
                
                <div class="pagination">
                    <span class="step-links">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
        
                                {% if posts.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page=1" aria-label="Next">
                                        <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}"> Previous </a></li>
                                {% endif %}
                                
                                    <li class="page-item">
                                        <a class="page-link">
                                            Page {{ posts.number }} of {{ posts.paginator.num_pages }}. 
                                        </a>
                                    </li>
        
                                {% if posts.has_next %}
                                    <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}"> Next </a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ posts.paginator.num_pages }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>       
                    </span>
                </div>    
            {% endif %} 
        </div>

        <div class="indexPage-right">

            <br>
            <div class="subheading">What's going on?</div>
            <br>
              <img src="{% static 'network/comingSoon.jpg' %}" alt="coming soon" class="comingSoon"> 
            <br><br><br>

            <div class="subheading">Whom to follow?</div>
            <br>
                <img src="{% static 'network/comingSoon.jpg' %}" alt="coming soon" class="comingSoon">
            <br><br>
            
        </div>
    </div>



{% endblock %}


{% block script %}
    <script src="{% static 'network/apiScript.js' %}" ></script>
{% endblock %}